In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('play_tennis.csv')

In [4]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [6]:
data.drop(columns=['day'],inplace=True)

In [7]:
data.head(5)

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [14]:
#outlook=sunny,temp=hot,humidity=High,wind=weak

In [15]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [26]:
py=9/14
pn=5/14

In [28]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [19]:
#yes
poy=4/9
pry=3/9
psy=2/9

In [20]:
#No
pon=0
prn=2/5
psn=3/5

In [22]:
#temp

pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [29]:
pCoolNo = 1/5
pHotNo = 2/5
pMildNo = 2/5

pCoolYes = 3/9
pHotYes = 2/9
pMildYes = 4/9

In [31]:
#Humidity
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [32]:
pHighNo = 4/5
pNormalNo = 1/5

pHighYes = 3/9
pNormalYes = 6/9

In [34]:
#wind
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [35]:
pStrongNo = 3/5
pWeakNo = 2/5

pStrongYes = 3/9
pWeakYes = 6/9

In [36]:
#outlook=sunny,temp=hot,humidity=high,wind=weak

pyes=py*psy*pHotYes*pHighYes*pWeakYes

print(pyes)

0.007054673721340388

In [37]:
pno = pn*psn*pHotNo*pHighNo*pWeakNo

print(pno)

0.02742857142857143