In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split

In [85]:
data=sns.load_dataset('titanic')

In [86]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [87]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    str
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    str
 8   class        891 non-null    category
 9   who          891 non-null    str
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    str
 13  alive        891 non-null    str
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), str(5)
memory usage: 80.7 KB

In [88]:
features=['pclass','sex','fare','embarked','age']
target=['survived']

In [89]:
#missing data
from sklearn.impute import SimpleImputer
imp_median=SimpleImputer(strategy='median')
data[['age']]=imp_median.fit_transform(data[['age']])

imp_most=SimpleImputer(strategy='most_frequent')
data[['embarked']]=imp_most.fit_transform(data[['embarked']])

In [90]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [91]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [92]:
#encoding
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first',handle_unknown='ignore',sparse_output=False)
cat=['sex','embarked']
from sklearn.compose import ColumnTransformer

In [93]:
trf1=ColumnTransformer([
    ('one',ohe,cat)
],remainder='passthrough')

data=trf1.fit_transform(data)

In [94]:
feature_names=trf1.get_feature_names_out()

In [95]:
df=pd.DataFrame(data,columns=feature_names)

In [96]:
df

,one__sex_male,one__embarked_Q,one__embarked_S,remainder__survived,remainder__pclass,remainder__age,remainder__sibsp,remainder__parch,remainder__fare,remainder__class,remainder__who,remainder__adult_male,remainder__deck,remainder__embark_town,remainder__alive,remainder__alone
0,1.0,0.0,1.0,0,3,22.0,1,0,7.25,Third,man,True,NaN,Southampton,no,False
1,0.0,0.0,0.0,1,1,38.0,1,0,71.2833,First,woman,False,C,Cherbourg,yes,False
2,0.0,0.0,1.0,1,3,26.0,0,0,7.925,Third,woman,False,NaN,Southampton,yes,True
3,0.0,0.0,1.0,1,1,35.0,1,0,53.1,First,woman,False,C,Southampton,yes,False
4,1.0,0.0,1.0,0,3,35.0,0,0,8.05,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,1.0,0.0,1.0,0,2,27.0,0,0,13.0,Second,man,True,NaN,Southampton,no,True
887,0.0,0.0,1.0,1,1,19.0,0,0,30.0,First,woman,False,B,Southampton,yes,True
888,0.0,0.0,1.0,0,3,28.0,1,2,23.45,Third,woman,False,NaN,Southampton,no,False
889,1.0,0.0,0.0,1,1,26.0,0,0,30.0,First,man,True,C,Cherbourg,yes,True
890,1.0,1.0,0.0,0,3,32.0,0,0,7.75,Third,man,True,NaN,Queenstown,no,True

In [97]:
df.select_dtypes(include='object').columns

C:\Users\vkt58\AppData\Local\Temp\ipykernel_25988\3732952691.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  df.select_dtypes(include='object').columns

Index(['one__sex_male', 'one__embarked_Q', 'one__embarked_S',
       'remainder__survived', 'remainder__pclass', 'remainder__age',
       'remainder__sibsp', 'remainder__parch', 'remainder__fare',
       'remainder__class', 'remainder__who', 'remainder__adult_male',
       'remainder__deck', 'remainder__embark_town', 'remainder__alive',
       'remainder__alone'],
      dtype='str')

In [98]:
df.drop(columns=['remainder__class', 'remainder__who', 'remainder__adult_male',
       'remainder__deck', 'remainder__embark_town', 'remainder__alive',
       'remainder__alone'
    ],inplace=True)

In [99]:
df.head()

,one__sex_male,one__embarked_Q,one__embarked_S,remainder__survived,remainder__pclass,remainder__age,remainder__sibsp,remainder__parch,remainder__fare
0,1.0,0.0,1.0,0,3,22.0,1,0,7.25
1,0.0,0.0,0.0,1,1,38.0,1,0,71.2833
2,0.0,0.0,1.0,1,3,26.0,0,0,7.925
3,0.0,0.0,1.0,1,1,35.0,1,0,53.1
4,1.0,0.0,1.0,0,3,35.0,0,0,8.05

In [106]:
df['remainder__survived'].value_counts()

remainder__survived
0    549
1    342
Name: count, dtype: int64

In [108]:
df['remainder__survived'] = df['remainder__survived'].astype(object)

In [109]:
X=df.drop(columns=['remainder__survived'])
y=df['remainder__survived']

In [110]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [111]:
from sklearn.tree import DecisionTreeClassifier

In [113]:
dt=DecisionTreeClassifier(max_depth=4)
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)

ValueError: Unknown label type: unknown. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [55]:
from sklearn.metrics import r2_score

In [56]:
r2=r2_score(y_test,y_pred)

In [57]:
r2

0.3991227117124918

In [114]:
print(type(y_train))
print(y_train.shape)
print(y_train.dtype)
print(y_train[:10])

<class 'pandas.Series'>
(712,)
object
331    0
733    0
382    0
704    0
813    0
118    0
536    0
361    0
29     0
55     1
Name: remainder__survived, dtype: object

In [115]:
print(y_train.head())

331    0
733    0
382    0
704    0
813    0
Name: remainder__survived, dtype: object